span:hover {
  background-color: #ccc;
}

.Nomen,span.Nomen:hover{
  background-color: #ccf;
}
.Verb,span.Verb:hover{
  background-color: #fcc;
}
.Adjektiv,span.Adjektiv:hover{
  background-color: #cfc;
}
.Nomen_help{
  background-color: #f33;
}
