span:hover {
  background-color: #ccc;
}

.Nomen,span.Nomen:hover{
  background-color: #ccf;
}
.Verb,span.Verb:hover{
  background-color: #fcc;
}
.Adjektiv,span.Adjektiv:hover{
  background-color: #cfc;
}
.Nomen_help{
  background-color: #009;
  color: #fff;
}
.Verb_help{
  background-color: #900;
  color: #fff;
}
.Adjektiv_help{
  background-color: #090;
  color: #fff;
}
